.hero {
     padding: 10rem 0 0;
}

.hero .s-title{
     top: 2rem;
}

.hero .s-title::before {
     width: 10rem;
}

.hero .grey-box p {
     width: 520px;
     line-height: 3.2rem;
}

.hero .grey-box p:first-child {
     margin-bottom: 2.4rem;
}

.hero form{
     margin: 1.6rem 0;
}

.hero input{
     width: 36.7rem;
     margin-right: 0.4rem;
}

.hero input::placeholder{
     color: rgba(34, 34, 34, 0.25);
}

.hero .info {
     color: var(--pri-0);
     font-weight: 600;
     font-size: 1.4rem;
     line-height: 1;
}

.hero .grey-box {
     width: 864px;
     height: 550px;
     padding: 16.6rem 0 0 4.8rem;
     margin-left: 9.9rem;
     margin-bottom: 15rem;
}

.hero-phones-container {
     outline: 2px sold purple;
     position: absolute;
     max-width: 39rem;
     right: 0;
}

.hero-phones {
     outline: 2px sold purple;
     position: relative;
     max-width: 39rem;
}

.hero-phones .img-2 {
     position: absolute;
     top: 6.8rem;
     left: -25.4rem;
     z-index: -1;
}

.hero-phones .img-1 {
     position: absolute;
     top: 3.6rem;
     left: -44.7rem;
     z-index: 2;
}

.de-1 {
     position: absolute;
     width: 296px;
     height: 80px;
     top: -2.8rem;
     right: -2.4rem;
     z-index: -80;
}

.de-2 {
     width: 197px;
     height: 56px;
     bottom: 2.7rem;
     left: -9.9rem;
     box-shadow: 0px 10px 20px rgba(2, 19, 54, 0.1);
     z-index: 2;
}

.hero .patt-1{
     top: 11.1rem;
     right: 5.4rem;
     height: 32.8rem;
}

.hero .patt-2{
     bottom: 1.6rem;
     left: 2.4rem;
     height: 8rem;
}