.h-bg {
     background-color: red;
     background: radial-gradient(203.76% 852.68% at 11.9% -49.71%, #06bee1 0%, #1e88e5 100%);
     position: absolute;
     display: flex;
     height: 46rem;
     width: 100vw;
     z-index: -5;
}

.h-bg::before {
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     background-image: radial-gradient(#ffffff 0.2rem, transparent 0);
     background-size: 1.6rem 1.6rem;
     opacity: 0.2;
}

.h-bg div {
     background: #ffffff;
     height: 100%;
     width: 33.4%;
}

.hero {
     padding: 21.7rem 0 0;
}

.hero .s-title {
     color: #ffffff;
     top: -8.5rem;
     left: 10rem;
     font-weight: 800;
}

.hero .s-title::before {
     display: none;
     width: 10rem;
}

.hero .grey-box {
     width: 86.4rem;
     height: 43.2rem;
     padding: 4.8rem 0 0 4.8rem;
     margin-left: 9.9rem;
     margin-bottom: 15rem;
}

.hero .grey-box p {
     width: 520px;
     line-height: 3.2rem;
}

.hero .grey-box p:first-child {
     margin-bottom: 2.4rem;
}

.hero form {
     margin: 1.6rem 0;
}

.hero input {
     width: 36.7rem;
     margin-right: 0.4rem;
}

.hero input::placeholder {
     color: rgba(34, 34, 34, 0.25);
}

.hero .info {
     color: var(--pri-0);
     font-weight: 600;
     font-size: 1.4rem;
     line-height: 1;
}

.hero-phones-container {
     outline: 2px sold purple;
     position: absolute;
     max-width: 39rem;
     right: 0;
}

.hero-phones {
     position: relative;
     max-width: 39rem;
}

.hero-phones .img-2 {
     position: absolute;
     top: -4.8rem;
     left: -25.4rem;
     z-index: -1;
}

.hero-phones .img-1 {
     position: absolute;
     /* top: 3.6rem; */
     top: -8rem;
     left: -44.7rem;
     z-index: 2;
}

.de-1 {
     position: absolute;
     width: 296px;
     height: 80px;
     top: -2.8rem;
     right: -2.4rem;
     z-index: -2;
}

.de-2 {
     width: 197px;
     height: 56px;
     bottom: 2.7rem;
     left: -9.9rem;
     box-shadow: 0px 10px 20px rgba(2, 19, 54, 0.1);
     z-index: 2;
}

.hero .patt-1 {
     top: 3.5rem;
     right: 5.5rem;
     height: 32.8rem;
}

.hero .patt-2 {
     bottom: 1.6rem;
     left: 2.4rem;
     height: 8rem;
}
