.s-m-up .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #ffffff;
     background: radial-gradient(203.76% 852.68% at 11.9% -49.71%, #06bee1 0%, #1e88e5 100%);
     border-radius: 50px;
     margin-bottom: 12rem;
     padding-left: 9.6rem;
     overflow: hidden;
}

.s-m-up .container::before {
     content: "";
     position: absolute;
     width: 928px;
     height: 347px;
     left: 11.6rem;
     top: 12.7rem;
     background: rgba(2, 19, 54, 0.35);
     filter: blur(100px);
     border-radius: 40px;
     z-index: -1;
}

.s-m-up h2 {
     font-weight: 600;
     font-size: 50px;
     line-height: 61px;
     margin-bottom: 2.4rem;
}

.s-m-up p {
     width: 459px;
     font-size: 2.2rem;
     font-weight: normal;
     line-height: 27px;
     margin-bottom: 2.4rem;
}

.s-m-up input {
     background-color: transparent;
     width: 371px;
     border: 0.15rem solid #ffffff;
}

.s-m-up input::placeholder {
     color: #ffffff;
}

.s-m-up .p-img {
     position: relative;
     z-index: 2;
     transform: translateY(1rem);
}

.s-m-up .patt-1 {
     right: 4rem;
     bottom: 4rem;
}

@media only screen and (max-width: 600px) {
     .s-m-up .container {
          display: block;
          align-items: left;
          background: #ffffff;
          border-radius: 50px;
          margin-bottom: 5rem;
          padding: 0 2.4rem;
     }

     .s-m-up .container::before {
          display: none;
     }

     .s-m-up h2 {
          color: var(--pri-0);
          font-size: 2.4rem;
          line-height: 2.9rem;
          margin-bottom: 2.4rem;
     }

     .s-m-up p {
          color: #222222;
          width: 100%;
          font-size: 2.2rem;
          font-weight: normal;
          line-height: 27px;
          margin-bottom: 2.4rem;
     }

     .s-m-up input {
          background-color: transparent;
          width: 100%;
          border: 0.15rem solid var(--pri-0);
     }

     .s-m-up input::placeholder {
          color: var(--pri-0);
     }

     .s-m-up button {
          color: white;
          background: var(--pri-0);
     }

     .s-m-up .p-img {
          display: none;
     }
}
