/* ==================== Footer ==================== */
footer{
     color: #ffffff;
     background-color: #222222;
     height: var(--footer-height);
     font-size: 1.8rem
}

footer .container{
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100%;
}