/* ==================== Header ==================== */
#loader {
     position: fixed;
     top: 0;
     left: 0;
     display: grid;
     place-content: center;
     height: 100vh;
     width: 100vw;
     overflow: hidden;
}

.loader-logo {
     opacity: 0;
     transition: 2s ease-in;
     animation: loader 4s ease-out;
}

@keyframes loader {
     0% {
          transform: translateX(-200px);
          opacity: 0;
     }
     20%,
     80% {
          transform: translateX(0);
          opacity: 1;
     }
     100% {
          transform: translateX(200px);
          opacity: 0;
     }
}

/* ==================== Header ==================== */
header {
     height: var(--header-height);
}

header .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100%;
     width: 1260px;
}

header .mob-logo {
     display: none;
}

/* ==================== Footer ==================== */
footer {
     color: #ffffff;
     height: var(--footer-height);
     background-color: #222222;
}

footer .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100%;
}

/* ==================== Footer ==================== */
.b-deco {
     position: absolute;
     background: var(--acc-1);
}

.b-patt {
     position: absolute;
     width: 16rem;
     height: 16rem;
     background-image: radial-gradient(#cdd3e2 0.15rem, transparent 0);
     background-size: 1.6rem 1.6rem;
}

.grey-box {
     position: relative;
     background: var(--gre-2);
     border-radius: 5px;
     width: 96.2rem;
}

.grey-box p {
     line-height: 3.2rem;
}

.grey-box p:first-child {
     margin-bottom: 1.4rem;
}

.s-title {
     color: var(--pri-0);
     position: absolute;
     height: 122px;
     font-weight: 600;
     font-size: 5rem;
     line-height: 6.1rem;
     z-index: 3;
}

.s-title:before {
     content: "";
     position: absolute;
     top: 13rem;
     background: var(--acc-1);
     width: 11rem;
     height: 0.8rem;
}

.toast {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 5rem;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     background-color: var(--acc-1);
     z-index: 100;
     animation: toast 6s ease-out;
     transform: translateY(-100%);
}

@keyframes toast {
     10%,
     90% {
          transform: translateY(0);
     }
     100% {
          transform: translateY(-100%);
     }
}

.toast .container {
     display: flex;
     align-items: center;
     justify-content: center;
     width: var(--container-width);
     margin: 0 auto;
     text-align: center;
}

@media only screen and (max-width: 600px) {
     header .container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 100%;
          width: 100%;
     }

     .b-deco {
          display: none;
     }

     .b-patt {
          display: none;
     }

     .grey-box {
          background-color: white;
          width: 100%;
     }

     .s-title {
          position: relative;
          height: auto;
          font-size: 2.4rem;
          line-height: 2.9rem;
          margin-bottom: 1.6rem;
     }

     .s-title:before {
          display: none;
     }

     footer {
          height: initial;
     }

     footer div {
          font-size: 1.4rem !important;
     }

     footer .container div:first-child {
          margin-bottom: 1rem;
     }

     footer .container {
          padding: 2.4rem 0;
          flex-direction: column;
     }

     header svg {
          display: none;
     }

     header .mob-logo {
          display: block;
     }
}
