@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --pri-0: #1a2e7d;
  --pri-1: #2541b2;
  --pri-2: #667ac9;

  --acc-0: #04859e;
  --acc-1: #06bee1;
  --acc-2: #51d2ea;

  --gre-0: #010b20;
  --gre-1: #021336;
  --gre-2: #021a4c;
  --gre-3: #9aa8c4;
  --gre-4: #cdd3e2;

  /* Fonts */
  --Font1: "Inter", sans-serif;
  --Font2: "Noto Serif", serif;

  --container-width: 1160px;
  --device-lg: 300px;
  --device-md: 760px;
  --device-sm: 600px;

  --header-height: 80px;
  --footer-height: 80px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  outline: none;
  font-family: var(--Font1);
  box-sizing: border-box;
}

html {
  color: #222222;
  font-size: 10px;
  font-weight: normal;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}
